*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  #wrapper {
    width: 100%;
  }
  #header {
    float: left;
    margin-top: -10px;
    width: 70%;
    height: 150px;
    background-color: green;
  }
  .body {
    float: left;
    width: 100%;
    height: 25%;
    background-color: #D9D9D9;
  }
  #body2 {
    float: left;
    width: 70%;
    height: 410px;
    border-top:2px solid #9B9393;
    background-color: #D9D9D9;
  }
  .scroll {
      display:block;
      margin-top: 50px;
      padding: 25px;
      width: 340% ;
      height: 250px;
      overflow: auto;
      text-align: justify;
  }
  p{
    text-align: center;
    font-family: 'Inknut Antiqua';
  
  }
  img{
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      display: block; 
  }
  h1{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    line-height: 124px;
    color: #AC836C;
  }
  .h2_ps{
    text-align: center;
    margin-top: -50px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 124px;
    color: #AC836C;
  }
  .h3_ps{
    text-align: center;
    margin-top: -50px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: 300;
    font-size: 18px ;
    line-height: 100px;
    color: #AC836C;
  }
  .h4_ps{
    text-align: center;
    margin-top: -30px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: 300;
    font-size: 30px ;
    line-height: 100px;
    color: #AC836C;
  }
  .btn1 {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #00D83C;
    border-radius: 0.6em;
    color: #595959;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  .btn1:hover, .btn1:focus {
    color: #595959;
    outline: 0;
  }
  .first1 {
    margin-right: auto;
    margin-left: auto;
    padding: 10px 50px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .first1:hover {
    box-shadow: 0 0 40px 40px #00D83C inset;
  }
  
  .btn2{
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #0286FF;
    border-radius: 0.6em;
    color: #595959;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  .btn2:hover, .btn2:focus {
    color: #595959;
    outline: 0;
  }
  .first2 {
    margin-right: auto;
    margin-left: auto;
    padding: 10px 72px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .first2:hover {
    box-shadow: 0 0 40px 40px #0286FF inset;
  }
  .btn3{
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #0286FF;
    border-radius: 0.6em;
    color: #c90202;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  .btn3:hover, .btn2:focus {
    color: #c90202;
    outline: 0;
  }
  .first3 {
    margin-right: auto;
    margin-left: auto;
    padding: 10px 72px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .first3:hover {
    box-shadow: 0 0 40px 40px #0286FF inset;
  }
  label{
      font-size: 12pt;
      font-family: 'Montserrat', sans-serif;
  }
   
  .form_login{
      box-sizing : border-box;
      margin-right: auto;
      margin-left: auto;
      padding: 5px;
      font-size: 11pt;
  }
   
  .tombol_login{
      margin-top: 10px;
      background: #3cad40;
      color: white;
      font-size: 9pt;
      margin-right: auto;
      margin-left: auto;
      width: 11%;
      border: none;
      border-radius: 3px;
      padding: 10px 20px;
      cursor: pointer;
  }
   
  .link{
      color: #232323;
      text-decoration: none;
      font-size: 10pt;
  }